.imageSet {
  width: 1920px;
  height: 500px;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 2500px;
  left: 0;
}

.overlay {
  background-color: rgb(0, 0, 0);
  top: 2500px;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  width: 1920px;
  height: 500px;
  opacity: 0.65;
  position: absolute;
}

.portrait {
  top: 580px;
  width: 280px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}

.header {
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 815px;
}

.sub {
  font-size: 30px;
  text-align: center;
  position: relative;
  color: white;
  top: 835px;

  margin-left: 270px;
  margin-right: 270px;
  line-height: 55px;
}

.quotes {
  top: 2440px;
  right: 135px;
  width: 170px;
  height: 170px;
  position: absolute;
}

.location {
  top: 2455px;
  left: 135px;
  width: 130px;
  height: 130px;
  position: absolute;
}

.par {
  font-size: 28px;
  position: relative;
  color: rgb(58, 148, 207);
  top: 750px;
  margin-left: 130px;
}
