<div>
  <img
    class="imageSet"
    src="https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg"
  />
</div>
<div class="overlay"></div>

<div class="portrait">
  <figure class="image is-150x150">
    <img
      class="is-rounded"
      src="https://pbs.twimg.com/media/Bw6VkhPIEAAEXU-.jpg:large"
    />
  </figure>
</div>

<div>
  <p class="is-family-primary has-text-weight-bold par">Albany, NY</p>
  <h1
    class="title is-1 has-text-weight-bold is-family-primary header has-text-white"
  >
    Ryan Carter - Computer Science CA, 2020
  </h1>
  <p class="subtitle is-3 is-family-primary sub">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip.
  </p>

  <img
    class="quotes"
    src="https://www.freepngimg.com/thumb/quotation/26948-3-quotation-picture.png"
  />

  <img
    class="location"
    src="https://www.artscape.ca/wp-content/uploads/2018/04/BigPin.png"
  />
</div>
