.box {
  background-color: rgb(214, 214, 214);
  align-content: center;
  position: relative;
  top: 400px;
  width: 1600px;
  height: 650px;
  border-radius: 2%;
}

.text {
  text-align: center;
  position: relative;
  font-size: 50px;
  top: 24px;
}

.columns {
  text-align: center;
  top: 50px;
  position: relative;
}

.block {
  display: block;
}

.input {
  margin-bottom: 20px;
  height: 80px;
  width: 440px;
  border-radius: 10px;
  margin-left: 60px;
  color: lightgray;
}

button {
  margin: auto;
  display: block;
  top: 110px;
  width: 300px;
  height: 80px;
}

.input2 {
  margin-bottom: 20px;
  height: 80px;
  width: 965px;
  border-radius: 10px;
  margin-left: 60px;
  color: lightgray;
}

.help {
  top: 446px;
  position: absolute;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgray;
}

.others {
  color: black;
}

.font {
  font-size: 16px;
}

.font2 {
  font-size: 34px;
}

.checkLeft {
  text-align: left;
  display: inline;
}

.left {
  margin-left: 80px;
}

.double {
  zoom: 1.08;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

.check {
  outline: 2px solid #3298dc;
  outline-offset: -2px;
  background-color: transparent !important;
}
