<div class="box">
  <div class="content">
    <h1
      class="title is-1 text has-text-weight-bold is-family-primary header has-text-black"
    >
      Tell Us more
    </h1>
    <div class="columns">
      <div class="column">
        <form>
          <input
            class="input is-large others"
            type="text"
            placeholder="First Name"
          />
          <input
            class="input is-large others"
            type="text"
            placeholder="Email Address"
          />
          <div class="field">
            <span class="select is-large">
              <select class="input">
                <option disabled="disabled" selected="selected"
                  >Select Country</option
                >
                <option class="others">Romania</option>
                <option class="others">Germany</option>
              </select>
            </span>
          </div>
        </form>
      </div>
      <div class="column">
        <form>
          <input
            class="input is-large others"
            type="text"
            placeholder="Last Name"
          /><input
            class="input is-large others"
            type="text"
            placeholder="Phone Number"
          /><input
            class="input is-large others"
            type="text"
            placeholder="Postal Code"
          />
        </form>
      </div>
      <div class="column checkLeft left">
        <h3 class="font2 has-text-weight-bold is-family-primary">
          I would like to study:
        </h3>
        <br />
        <form>
          <label class="block font double"
            ><input class="check" type="checkbox" /> Accounting &
            Business</label
          >
          <label class="block font double"
            ><input class="check" type="checkbox" /> Healthcare
            Management</label
          >
          <label class="block font double"
            ><input class="check" type="checkbox" /> Psychology</label
          >
          <label class="block font double"
            ><input class="check" type="checkbox" /> Data Science</label
          >
          <label class="block font double"
            ><input class="check" type="checkbox" /> Digital Security</label
          >
          <label class="block font double"
            ><input class="check" type="checkbox" /> Other</label
          >
        </form>
      </div>
    </div>
    <div class="help">
      <div class="select is-large">
        <form>
          <select class="input2">
            <option>Education Level</option>
            <option class="others">Option1</option>
            <option class="others">Option2</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <button
    class="button is-info is-large has-text-weight-bold is-family-primary"
  >
    SUBMIT
  </button>
</div>
