<body>
  <div class="cardsSection">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <img
                src="https://newmediawire.s3.amazonaws.com/5820ec7b75c7a4000a36fefc_1"
                alt="Placeholder image"
              />
              <h3>HEALTHCARE MANAGEMENT</h3>
              <div>
                <button
                  id="buton"
                  class="button is-info is-large has-text-weight-bold is-family-primary"
                  style="border-radius: 35px;"
                  (click)="openHealthcareManagement()"
                >
                  +
                </button>
              </div>
              <div id="healthcareManagementModal" class="modal">
                <div class="modal-content">
                  <h3 class="has-text-weight-bold is-family-primary">
                    Healthcare Management
                  </h3>
                  <p>
                    Sit lorem ipsum dolor amet consecur adipisi Eiusmod me erat
                    voluat Ut wisi enip uistis lorem
                  </p>
                  <button
                    class="button is-white has-text-weight-bold is-outlined buttonModal"
                  >
                    GO TO PAGE
                  </button>
                  <span class="close" (click)="closeHealthcareManagement()"
                    >&times;</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <img
                src=" https://pluspng.com/img-png/psychology-brain-png-brain-education-help-idea-knowledge-mind-psychology-icon-512.png"
                alt="Placeholder image"
              />
              <h3>PSYCHOLOGY</h3>
              <div>
                <button
                  class="button is-info is-large has-text-weight-bold is-family-primary"
                  style="border-radius: 35px; top: 25px;"
                  (click)="openPsychology()"
                >
                  +
                </button>
              </div>
              <div id="psychologyModal" class="modal">
                <div class="modal-content">
                  <h3 class="has-text-weight-bold is-family-primary">
                    Psychology
                  </h3>
                  <p>
                    Sit lorem ipsum dolor amet consecur adipisi Eiusmod me erat
                    voluat Ut wisi enip uistis lorem
                  </p>
                  <button
                    class="button is-white has-text-weight-bold is-outlined buttonModal"
                  >
                    GO TO PAGE
                  </button>
                  <span class="close" (click)="closePsychology()">&times;</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <img
                src="https://www.aihr.com/wp-content/uploads/2018/12/Data-Science-in-R-Course-icon-Late-2018.png"
                alt="Placeholder image"
              />
              <h3>DATA SCIENCE</h3>
              <div>
                <button
                  class="button is-info is-large has-text-weight-bold is-family-primary"
                  style="border-radius: 35px; top: 25px;"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <img
                src="https://www.pngmart.com/files/7/Network-PNG-Free-Download.png"
                alt="Placeholder image"
              />
              <h3>NETWORK AND CYBER SECURITY</h3>
              <div>
                <button
                  class="button is-info is-large has-text-weight-bold is-family-primary"
                  style="border-radius: 35px;"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <img
                src="https://cdn2.iconfinder.com/data/icons/business-icons-3-2/256/Partnership-512.png"
                alt="Placeholder image"
              />
              <h3>ACCOUNTING AND BUSINESS</h3>
              <div>
                <button
                  class="button is-info is-large has-text-weight-bold is-family-primary"
                  style="border-radius: 35px;"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <img
                src="https://higherlogicdownload.s3.amazonaws.com/CSDA/feaaf941-6df6-4428-a23c-583379a09704/UploadedImages/Logos/SDLF-Recognition-icon.png"
                alt="Placeholder image"
              />
              <h3>SEE ALL PROGRAMS</h3>
              <div>
                <button
                  class="button is-info is-large has-text-weight-bold is-family-primary"
                  style="border-radius: 35px;"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
