.cardsSection {
  align-content: center;
  text-align: center;
  position: relative;
  margin-left: 160px;
  margin-right: 160px;
}

.card {
  border-radius: 25px;
  top: 135px;
  background-color: rgb(43, 62, 146);
  height: 260px;
  width: 240px;
}

h3 {
  color: white;
}

img {
  height: 100px;
  width: 165px;
}

.column {
  flex-grow: 0 !important;
  padding: 15px;
}

option:checked {
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 2% auto;
  padding: 3%;
  padding-top: 1%;
  border-radius: 25px;
  top: 145px;
  background-color: rgb(70, 206, 81);
  height: 257px;
  width: 400px;
  color: white;
}

.close {
  line-height: 12px;
  color: rgb(0, 0, 0, 0.6);
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 12px;
  padding: 2px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttonModal {
  background-color: transparent !important;
  border-color: transparent !important;
  position: relative;
  font-size: 20px;
}
