<app-cards-component></app-cards-component>
<div>
  <h1
    class="title is-1 has-text-weight-bold is-family-primary header has-text-black"
  >
    Content Title Goes Here
  </h1>
  <p class="title is-4 is-family-primary para has-text-grey">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
    dolore eu feugiat nulla facilisis at vero eros.
  </p>
</div>

<div class="form">
  <app-form-component></app-form-component>
</div>

<div>
  <app-quote-component></app-quote-component>
</div>

<div>
  <h1
    class="title is-1 has-text-weight-bold is-family-primary header top has-text-black"
  >
    Achievements
  </h1>
  <p class="title is-3 is-family-primary para top has-text-grey">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci.
  </p>
</div>

<div>
  <app-level-component></app-level-component>
</div>

<div>
  <app-footer-component></app-footer-component>
</div>
