.header {
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 260px;
}

.para {
  font-size: 24px;
  text-align: center;
  position: relative;
  top: 270px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 35px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  top: 950px;
}
