html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.set {
  width: 1920px;
  height: 900px;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  background-color: rgb(40, 101, 141);
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  width: 1920px;
  height: 900px;
  opacity: 0.6;
  position: absolute;
}

.image {
  top: 20px;
  left: 65px;
  width: 170px;
  height: 170px;
  position: absolute;
}

.pos1 {
  top: 100px;
  left: 420px;
  position: absolute;
}

.pos2 {
  top: 100px;
  left: 830px;
  position: absolute;
}

.pos3 {
  top: 100px;
  left: 1100px;
  position: absolute;
}

.pos4 {
  top: 100px;
  left: 1458px;
  position: absolute;
}

.pos5 {
  top: 100px;
  left: 1617px;
  position: absolute;
}

.headerFix {
  position: relative;
  left: 100px;
  bottom: 140px;
  font-size: 90px;
}

.subtitleFix {
  position: relative;
  left: 100px;
  bottom: 140px;
  font-size: 40px;
}

.button1Fix {
  top: 530px;
  left: 100px;
  position: absolute;
  border-radius: 10px;
  height: 77px;
  width: 420px;
}

.button2Fix {
  top: 530px;
  left: 550px;
  position: absolute;
  border-radius: 10px;
  height: 77px;
  width: 420px;
}
