<div class="overlay2"></div>
<div class="overlay"></div>

<p class="is-family-primary has-text-weight-bold par">system.suny.edu</p>

<div class="columns is-mobile pos">
  <div class="column" style="margin-left: 80px;">
    <button class="button is-white is-outlined" style="top: 50px;">
      Contact Us
    </button>
    <button class="button is-white is-outlined" style="top: 90px;">
      Careers at SUNY
    </button>
    <button class="button is-white is-outlined" style="top: 130px;">
      Attend SUNY
    </button>
    <button class="button is-white is-outlined" style="top: 170px;">
      What is SUNY?
    </button>
    <button class="button is-white is-outlined" style="top: 210px;">
      Why Does SUNY Matter?
    </button>
  </div>
  <div class="column" style="margin-right: -50px;">
    <button class="button is-white is-outlined" style="top: 50px;">News</button>
    <button class="button is-white is-outlined" style="top: 90px;">
      Privacy Policy
    </button>
    <button class="button is-white is-outlined" style="top: 130px;">
      Web Accessibility
    </button>
    <button class="button is-white is-outlined" style="top: 170px;">
      board of Trustees
    </button>
    <button class="button is-white is-outlined" style="top: 210px;">
      Health Alert
    </button>
  </div>
  <div class="column" style="margin-right: 1050px;">
    <button class="button is-white is-outlined" style="top: 50px;">
      SUNY Portal
    </button>
    <button class="button is-white is-outlined" style="top: 90px;">
      SUNY Blue Login
    </button>
    <button class="button is-white is-outlined" style="top: 130px;">
      SUNY Email Login
    </button>
  </div>
</div>

<img
  class="logo"
  src="https://image.flaticon.com/icons/png/512/136/136528.png"
/>
