.overlay {
  background-color: rgb(41, 39, 39);
  top: 3680px;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  width: 1920px;
  height: 400px;
  opacity: 0.87;
  position: absolute;
}

.overlay2 {
  background-color: #3298dc;
  top: 3670px;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  width: 1920px;
  height: 10px;
  position: absolute;
}

.pos {
  position: relative;
  top: 1225px;
}

button {
  background-color: transparent !important;
  border-color: transparent !important;
  position: absolute;
  font-size: 18px;
}

.gap {
  column-gap: 20px;
}

.par {
  font-size: 26px;
  position: relative;
  color: rgb(58, 148, 207);
  top: 1250px;
  margin-left: 99px;
}

.logo {
  top: 3800px;
  right: 200px;
  width: 170px;
  height: 170px;
  position: absolute;
}
