<div class="top">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading font">lorem ipsum</p>
        <p class="title font2 has-text-weight-bold">3,456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading font">lorem ipsum</p>
        <p class="title font2 has-text-weight-bold">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading font">lorem ipsum</p>
        <p class="title font2 has-text-weight-bold">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading font">lorem ipsum</p>
        <p class="title font2 has-text-weight-bold">789</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading font">lorem ipsum</p>
        <p class="title font2 has-text-weight-bold">9,627</p>
      </div>
    </div>
  </nav>
  <div>
    <button
      class="button is-info is-large has-text-weight-bold is-family-primary"
    >
      CONTACT US
    </button>
  </div>
</div>
